<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="ChuoiKetNoi"
             connectionString="Data Source=0.tcp.ap.ngrok.io,28248;Initial Catalog=QLVT;Persist Security Info=True;User ID=sine;Password=020220;Encrypt=True;TrustServerCertificate=True"
             providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>